*{
    margin: 0;
    padding: 0;
}
.navbar-top{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}
.social-link i img{
    margin-left: 10px;
    transition: 0.5s ease;
    cursor: pointer;
}
.social-link i img:hover{
    background-color: rgba(238,224,208);
    border-radius: 50px;
}
@media screen and (max-width:420px){
    .social-link i img{
        width: 65px;
    }
    
}
@media screen and (max-width:420px){
    .categories-widget  h2 ul li a , .information-widget h2 ul li a{
        margin: 0px 0px 2px 10px ;
    }
    
}
.logo h5{
    font-weight: bold;
    font-style: normal;
}
@media screen and (max-width:420px){
    .logo h5{
        font-size: 20px;
    }
}
.icons i img{
    margin-left: 10px;
    cursor: pointer;
}

@media screen and (max-width:420px){
    .icons i img{
        width: 20px;
    }
}
.h{
    text-align: left;
    border-radius: 8px;
    size: 6px;
    margin-right: 20px ;
    padding-left: 4px;
    block-size: auto;
    background-color: rgba(242, 255, 0, 0.389);
    height: 1.5pc;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.h:hover{
    background-color: whitesmoke;
    transition: 0.5s ease;
    cursor: pointer;
}
.foot h4{
    background:  rgba(255, 0, 0, 0.445);
    color: black;
    border-radius: 4px;
    font-style: oblique;
    font-size: smaller;
  }
.main-content{
    width: 100%;
    height: 120vh;
    margin-top: 2px;
    background-image: url(./image/background.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.card image-top{
    height: 27.333%;
    width: 20.3333%;
}
#navbar-color{
    background-color: rgb(238, 224, 208);
}
.navbar-nav{
    margin: auto;
}
.nav-link{
    margin-left: 30px;
    font-weight: bold;
    color: black;
    transition: 0.5s ease;
    cursor: pointer;
    font-style: italic;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.nav-link:hover{
    color: red;
}
.content h1{
    font-size: 50px;
    margin-left: 3px;
}
.content p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    margin-left: 3px;
}
#btn1 button{
    width: 150px;
    height: 32px;
    background: transparent;
    border: 2px solid black;
    letter-spacing: 3px;
    font-weight: bold;
    transition: 0.5s ease;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 4px;
}
#btn1 button:hover{
    background-color: rgba(0, 128, 0, 0.703);
}
@media screen and (max-width:420px){
    .content h1{
        font-size: 30px;
    }
}
#slider{
	overflow: hidden;
}

@keyframes slider {
	0% { left: 0; }
	30% { left: 0; }
	33% { left: -100%; }
	63% { left: -100%; }
	66% { left: -200%; }
	95% { left: -200%; }
	100% { left: 0; }
}
#slider figure {
	width:300%;
    height: 250px;
	position: relative;
	animation: 9s slider infinite;
    border-radius: 5px;
}
#slider figure img {
	width: 33.333333333%;
    height: 143.333333333%;
    padding: 5px 2px 0px 2px;
    margin-top:  7px; 
	float: left;
    border-radius: 10px;
    
}
#btn2 button{
    width: 100px;
    height: 30px;
    background: transparent;
    border: 2px solid black;
    transition: 0.5s ease;
    cursor: pointer;
    border-radius: 5px;
    font-size: 3vh;
    font-style: italic;
    margin-bottom: 5px;
}
#btn2 button:hover{
    background-color: rgba(65, 105, 225, 0.732);
}
#tpc{
    box-shadow: 0 0 5px black;
    transition: 0.5s ease;
    cursor: pointer;
}
#tpc:hover{
    transform: translateY(-10px);
}
#c p{
    font-weight: bold;
}
#btn3{
    text-align: center;
}
#btn3 button{
    width: 150px;
    height: 30px;
    background: transparent;
    border: 1px solid black;
    transition: 0.5s ease;
    cursor: pointer;
}
#btn3 button:hover{
    background-color: rgba(238,224,208);
}
@media screen and (max-width:895px){
    #btn3 button{
        width: 100px;
    }
}
#btn4 button{
    font-size: large;
    width: 150px;
    height: 30px;
    background: rgba(255, 192, 203, 0.418);
    border: 1px solid black;
    transition: 0.5s ease;
    cursor: pointer;
}
#btn4 button:hover{
    background-color: rgba(0, 128, 0, 0.503);
}
.cards i{
    font-size: 30px;
    cursor: pointer;
    display: inline-block;
    margin-right: 12px;
}
footer{
    margin-top: 8px;
    background-color: #282828;
    color: #aba8a8;
}
.footer-widget{
    margin: 0 4px;
    text-align: justify;
}
.widget-title{
    color: #fff;
    margin-bottom: 15px;
    font-size: 20px;
}
.about-widget p {
    line-height: 20px;
    margin: 8px 0 6px 0;

}
.about-widget p span{
    margin-right: 17px;
}
.categories-widget , .information-widget{
    margin-left: 50px;
}
.categories-widget , .information-widget:hover{
    cursor: pointer;
}
.footer-widget ul{
    margin-left: 20px;

}
.footer-widget ul li{
    padding-bottom: 14px;
}
.footer-widget ul li a {
    color: #aba8a8;
    text-decoration: none;
}
.footer-widget ul li a:hover {
    color: #d2d2d2;
    margin-left: 10px;
    transition: all .5s ease;
    cursor: pointer;
}
.contact-address{
   padding-bottom: 5px;
   border-bottom: 1px solid #9a98988c;
   line-height: 20px;
}
.contact-number , .contact-email span {
    margin: 5px 0 1px 0 ;
}
.contact-number i  , .contact-email  i , .contact-address span img  {
    margin-right: 10px;
    cursor: pointer;
    font-size: 20px;
}
.social-widget i {
   display: inline-block;
   font-size: 28px;
   color: #aba8a8;
   margin-right: 10px;
   cursor: pointer;
}
.social-widget i:hover{
    color: #d2d2d2;
    transition: all .5s ease;
    cursor: pointer;
}